# Puzzle 5

“Yes, I did have that tapestry for a little bit. I even cleaned a blotchy section that turned out to be a friendly koala.

“But it was still really dirty, so when I was going through a Marie Kondo phase, I decided it wasn’t sparking joy anymore.

“I listed it on Freecycle, and a woman in Queens Village came to pick it up. She was wearing a ‘Noah’s Market’ sweatshirt, and it was just covered in cat hair. When I suggested that a clowder of cats might ruin such a fine tapestry, she looked at me funny and said she only had ten or eleven cats and they were getting quite old and had cataracts now so they probably wouldn’t notice some old rug anyway.

“It took her 20 minutes to stuff the tapestry into some plastic bags she brought because it was raining. I spent the evening cleaning my apartment.”

What’s the phone number of the woman from Freecycle?

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os
from nameparser import HumanName
import datetime as dt

In [2]:
dir = "/Users/jattenberg/Downloads/noahs-csv/"
files = os.listdir(dir)
names = [n.split(".")[0] for n in files]
dataframe_arr = [pd.read_csv(dir+f) for f in files]

dfs = dict(zip(names, dataframe_arr))

In [3]:
products = dfs["noahs-products"]
order_items = dfs["noahs-orders_items"]
orders = dfs["noahs-orders"]
customers = dfs["noahs-customers"]

In [5]:
queens_village_customers = customers[customers.citystatezip.str.contains("queens village", case=False)]
queens_village_customers

,customerid,name,address,citystatezip,birthdate,phone
111,1112,Barbara Krystal Reeves,101-24 212th St,"Queens Village, NY 11429",1967-06-25,680-765-4131
291,1292,Johnathan Garcia,219-43 113th Dr,"Queens Village, NY 11429",1997-08-14,516-288-6132
365,1366,Andrea Sullivan,220-54 111th Ave,"Queens Village, NY 11429",1961-11-07,347-664-7228
417,1418,Allison Coleman,102-5 Springfield Blvd,"Queens Village, NY 11429",1977-04-01,212-708-9172
677,1678,Anita Becker,215-66 99th Ave,"Queens Village, NY 11429",1963-03-16,631-924-9714
...,...,...,...,...,...,...
10841,11841,Kristy Chelsea Shaw,88-64 Vanderveer St,"Queens Village, NY 11427",1984-03-19,631-555-8679
10871,11871,Russell Morris,100-2 213th St,"Queens Village, NY 11429",1976-05-14,914-634-6026
10963,11963,Ronald Valencia,84-36 214th St,"Queens Village, NY 11427",1941-12-19,680-658-9393
10968,11968,Willie Watkins,85-2 208th St,"Queens Village, NY 11427",1995-04-30,934-317-1124
11002,12002,Tammy Gibbs,84-16 214th St,"Queens Village, NY 11427",1999-08-31,838-652-2227

In [27]:
cat_items = products[products.desc.str.contains("cat", case=False, regex=True)]
cat_order_items = order_items.merge(cat_items, on="sku").drop_duplicates("orderid")
cat_orders = cat_order_items.merge(orders, on="orderid")
cat_orders

,orderid,sku,qty,unit_price,desc,wholesale_cost,customerid,ordered,shipped,items,total
0,1003,PET6505,1,5.29,"Gluten-free Adult Cat Food, Chicken & Beef",4.22,5676,2017-01-31 01:34:40,2017-01-31 09:00:00,NaN,30.79
1,1555,PET6505,1,5.10,"Gluten-free Adult Cat Food, Chicken & Beef",4.22,6298,2017-02-05 11:32:50,2017-02-05 16:45:00,NaN,12.81
2,2194,PET6505,1,5.28,"Gluten-free Adult Cat Food, Chicken & Beef",4.22,9881,2017-02-11 17:31:24,2017-02-13 13:45:00,NaN,10.64
3,2473,PET6505,1,4.91,"Gluten-free Adult Cat Food, Chicken & Beef",4.22,3649,2017-02-14 17:43:21,2017-02-18 20:15:00,NaN,9.47
4,2780,PET6505,2,5.19,"Gluten-free Adult Cat Food, Chicken & Beef",4.22,3946,2017-02-17 16:48:24,2017-02-17 16:48:24,NaN,37.53
...,...,...,...,...,...,...,...,...,...,...,...
70772,212632,PET0148,1,5.07,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,11379,2022-11-20 18:24:45,2022-11-25 16:30:00,NaN,116.36
70773,212916,PET0148,1,4.97,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,9596,2022-11-23 22:02:33,2022-11-27 20:45:00,NaN,34.36
70774,212955,PET0148,1,5.88,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,11382,2022-11-24 11:35:37,2022-11-24 11:35:37,NaN,105.89
70775,213978,PET0148,1,6.16,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,6155,2022-12-04 21:48:43,2022-12-05 09:15:00,NaN,58.98
70776,215186,PET0148,1,5.82,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,11124,2022-12-16 17:26:36,2022-12-16 17:26:36,NaN,18.74

In [29]:
cat_orders.merge(queens_village_customers, on="customerid").drop_duplicates("name")

,orderid,sku,qty,unit_price,desc,wholesale_cost,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone
0,173663,PET6701,10,4.81,"Dry Senior Cat Food, Turkey & Turkey",3.66,7675,2021-10-24 11:29:00,2021-10-24 14:00:00,NaN,48.10,Anita Koch,106-51 214th St,"Queens Village, NY 11429",1955-11-14,315-492-7411
17,176835,PET1537,1,3.15,"Wet Cat Food, Duck & Pumpkin",2.64,3335,2021-11-24 10:29:46,2021-11-24 10:29:46,NaN,22.57,Jose Cook,225-24 Murdock Ave,"Queens Village, NY 11429",1950-03-27,516-745-9461
18,33095,PET8200,1,3.49,"Wet Adult Cat Food, Chicken & Turkey",2.59,6560,2017-12-20 09:24:40,2017-12-20 09:24:40,NaN,25.82,Joseph Weaver,224-8 Jamaica Ave,"Queens Village, NY 11428",1970-11-20,680-839-3746
19,181832,PET5751,1,3.55,"Dry Senior Cat Food, Beef & Chicken",3.10,5486,2022-01-15 11:14:04,2022-01-15 11:14:04,NaN,115.94,Sam House,220-8 111th Ave,"Queens Village, NY 11429",1955-11-10,607-836-2966
20,203137,PET8828,1,3.74,"Wet Adult Cat Food, Chicken & Salmon",3.29,6905,2022-08-16 23:37:39,2022-08-20 10:45:00,NaN,54.23,Justin Cochran,88-43 212th Pl,"Queens Village, NY 11427",1967-11-29,716-525-5173

(only one woman's name there)